@import url(pretendard.css);
/**********************  start: 태그의 초기화  *******************/
h1,h2,h3,h4,h5,h6{
    font-weight: inherit;
    font-size: inherit;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;/*밑줄삭제*/
}
ul,ol,li{
    list-style: none; /* 앞에 도형제거*/
}
/**********************  end: 태그의 초기화  *******************/


/**********************  start: 기본스타일  *******************/
body{
    font-family: 'pretendard';
    font-size: 17px;
    font-weight: 400;
    color: #3d3d3d;
    line-height: 1.5;
}
.wrapper{
    width: 1260px;
    margin: 0;
}
/**********************  end: 기본스타일  *******************/
.glo h2.gloline{
    font-size: 40px;
    font-weight: 700;
    margin: 117px 0 39px 0;
}
.glo p.green {
    color: #00b900;
    margin: 0 0 13px 0;
}
.glo .glogreen a{
    display: inline-block;
    border:  1px solid #12ff00;
    padding: 7px 24px;
    
}
.glo p{
    margin: 0 0 26px 0;
}
body .glo2{
    text-align: center;
    margin: 445px 0 0 0;
    color: #fff;
    
}
body .glo2 .list h2{
    font-size: 40px;
    font-weight: 700;
}
.glo2 a{
    display: inline-block;
    border:  1px solid #fff;
    padding: 7px 24px;
}
.glo2