@import url(pretendard.css);
/**********************  start: 태그의 초기화  *******************/
h1,h2,h3,h4,h5,h6{
    font-weight: inherit;
    font-size: inherit;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;/*밑줄삭제*/
}
ul,ol,li{
    list-style: none; /* 앞에 도형제거*/
}
/**********************  end: 태그의 초기화  *******************/


/**********************  start: 기본스타일  *******************/
body{
    font-family: 'pretendard';
    font-size: 17px;
    font-weight: 400;
    color: #3d3d3d;
    line-height: 1.5;
}
.wrapper{
    width: 1260px;
    margin: 0 auto;
}
/**********************  end: 기본스타일  *******************/
.screen h2{
    font-size: 30px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 60px 0 20px 0;
}
.screen .sub_tit{
    font-size: 20px;
    font-weight: 700;
    color: #07B53B;
    margin: 0 0 10px 0;
}
.screen a{
    display: inline-block;
    color: #07B53B;
    border: 1px solid#07B53B;
    padding: 7px 39px;
    margin: 8px 0 18px 0;
}
.wave{
    background: url(../images/wave_bg.jpg) no-repeat center center / cover;
    text-align: center;
    height: 598px;
    color: #fff;
}
.wave h2{
    font-size: 30px;
    font-weight: 700;
    padding: 60px 0 20px 0;
    margin: 60px 0 0 0;
}
.wave a{
    display: inline-block;
    border: 1px solid#fff;
    padding: 7px 39px;
    margin:  12px 0 41px 0;
}