@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url(common.css);

.header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0 40px 0 60px;
}
.header .logo{
    margin: 22px 0 0 0;
}
.header .gnb ul{
    display: flex;
}
.header .gnb ul li a{
    display: block;
    line-height: 100px;/*header 의 높이와 같이*/
    font-size: 20px;
    font-weight: 700;
    color: #2A2D31;
    padding: 0 35px;
}
/*a에 마우스를 올렸을때*/
.header .gnb ul li a:hover{
    color: #840001;
}
.visual{
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
    height: 800px;
    margin: 0 40px;
    border-radius: 40px;
}
.visual .wrapper{
    padding: 0 0 0 40px;
}
.visual h2{
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    padding: 417px 0 25px 0;
}

.biz{
    margin: 192px 0 169px 0;
}

/*music이랑 art랑 모두 스타일이 적용됨*/
.biz .art{
    margin: 113px 0 0 0;
}
.biz .group{
    display: flex;
    justify-content: space-between;
}
.biz .group .tit{
    width: 510px;
}
.biz .group .tit h3{
    color: #840001;
}
.biz .group .tit .sub_tit{
    font-size: 40px;
    font-weight: 700;
    color: #2A2D31;
    margin: 13px 0 19px 0;
    line-height: 1.3;
}
.biz .group .tit .sub_tit strong{
    color: #840001;
}
.biz .group .tit .btn_wrap{
    display: flex; /* a를 좌우로배치 */
    margin: 57px 0 0 0;
    gap: 6px 6px;
    flex-wrap: wrap;/* flex로 정렬되는 a가 두줄로 정렬되는것을 허락*/
}
.biz .group .tit .btn_wrap a{
    display: block;
    color: #840001;
    border: 1px solid #840001;
    padding: 13px 34px;
    border-radius: 30px;
}
/*
<a><a/>
<a><a/>
<a class=active ><a/>
a.active라는 선택자는 a들 중에서 active 클래스가 있는 a를 뜻함*/
.biz .group .tit .btn_wrap a.active{
    background-color: #840001;
    color: #fff;
}
.biz .group .tit .btn_wrap a:hover{
    background-color: #E6CCCC;
    font-weight: 700;
}
.biz .group .tit .btn_wrap a.active:hover{
    color: #840001;
}
.biz .group .photo{
    width: 618px;
    height: 494px;
    overflow: hidden;
    border-radius: 30px;
}
.biz .group .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.community{
    background: url(../images/community_bg.jpg)no-repeat center top;
    color: #fff;
}
.community .notice{
    padding: 142px 0 169px 0;
    display: flex;
    justify-content: space-between;
}
.community .notice .tit h3{
    color: #EBE287;
}
.community .notice .tit p{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    margin: 11px 0 0 0;
}
.community .notice .list{
    width: 726px;
}
.community .notice .list ul li{
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.community .notice .list ul li a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 0;
}
.community .notice .list ul li a:hover{
    color: #EBE287;
}
/* li:first-child li중에 첫번째 li를 선택함*/
.community .notice .list ul li:first-child{
    border-top: 1px solid rgba(255,255,255,0.2);
}
.community .notice .list ul li a h4{
    font-size: 20px;
}
.community .notice .list ul li a span{
    color: rgba(255,255,255,0.8);
}
.community .notice .list ul li a:hover span{
    color: #EBE287;
}
.community .youtube .tit h3{
    color: #EBE287;
}
.community .youtube .tit p{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
}
.community .youtube .list{
    margin: 46px 0 0 0;
}
.community .youtube .list ul{
    display: flex;
    justify-content: space-between;
}
.community .youtube .list ul li{
    width: 404px;
}
.community .youtube .list ul li a{
    display: block;
    color: #2A2D31;
}
.community .youtube .list ul li a .photo{
    height: 227px;
    border-radius: 20px;
    overflow: hidden;/*photo에 꼭 주기*/
    border: 2px solid #840001;
    margin: 0 0 21px 0;
}
.community .youtube .list ul li a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    /*마우스를 오버했을때 변경되는 값을 천천히 실행하는 것*/
}
.community .youtube .list ul li a:hover .photo img{
    transform: scale3d(1.125, 1.125, 1);
}
.community .youtube .list ul li a h4{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
    margin: 21px 0 0 0;
}   
.footer{
    border-top: 1px solid #666666;
    color: #3D3D3D;
    margin: 80px 0 0 0;
    padding: 47px 0;
}
.footer .f_nav ul{
    display: flex;
    gap: 0 38px;
}
.footer .f_info{
    margin: 29px 0 27px 0;
    display: flex;
    gap: 0 20px;
}