@import url(pretendard.css);
/**********************  start: 태그의 초기화  *******************/
h1,h2,h3,h4,h5,h6{
    font-weight: inherit;
    font-size: inherit;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;/*밑줄삭제*/
}
ul,ol,li{
    list-style: none; /* 앞에 도형제거*/
}
/**********************  end: 태그의 초기화  *******************/


/**********************  start: 기본스타일  *******************/
body{
    font-family: 'pretendard';
    font-size: 17px;
    font-weight: 400;
    color: #3d3d3d;
    line-height: 1.5;
}
.wrapper{
    width: 1260px;
    margin: 0 auto;
}
/**********************  end: 기본스타일  *******************/

.global h2{
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 120px 0 18px 0;
}
.global .sub_tit{
    color: #00b900;
    margin: 0 0 9px 0;
}
.global a{
    display: inline-block;
    color: #00b900;
    border: 1px solid #00b900;
    padding: 7px 33px;
    margin: 28px 0 43px 0;
}
.market{
    margin: 95px 0 0 0;
    background: url(../images/market_bg.jpg)no-repeat center center / cover;
    color: #fff;
    height: 641px;
    text-align: center;
}
.market h2{
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    padding: 118px 0 22px 0;
}
.market a{
    display: inline-block;
    border: 1px solid #fff;
    padding: 7px 33px;
    margin: 28px 0 35px 0;
}