@import url(font.css);
@import url(common.css);

.header{
    height: 100px;
}
.header .wrapper{
    display: flex;/*logo gnb 좌우배치*/
    justify-content: space-between;/*좌우양끝*/
    align-items: center;/*위아래 가운데*/
}
.header .gnb ul{
    display: flex;/*li를 좌우로 배치*/
}
.header .gnb ul li a{
    display: block;
    padding: 0 32px;
    line-height: 100px;
    /*header 의 높이와 같게 -글자의 높이가 100이되고 위아래 가운데 배치됨*/
    font-size: 21px;
    font-weight: 700;
    color: #1d1d1d;
}
.visual{
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
    height: 800px;
}
.visual h2{
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    padding: 503px 0 22px 0;
}
.biz{
    margin: 177px 0 0 0;
}
.biz .tit{
    text-align: center;
}
.biz .tit h2{
    color: #002365;
    font-weight: 700;
}
.biz .tit p{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    padding: 23px 0 0 0;
    color: #1d1d1d;
}
.biz .list{
    margin: 56px 0 0 0;
}
.biz .list ul{
    display: flex;/*li를 좌우로 배치*/
    justify-content: space-between;
}
.biz .list ul li{
    width: 297px;
}
.biz .list ul li .txt{
    text-align: center;
    margin: 0 40px;/* 위아래여백-좌우여백 */
}
.biz .list ul li .txt h3{
    font-size: 32px;
    line-height: 1.3;
    color: #1d1d1d;
    margin: 16px 0 12px 0;

}
.biz .list ul li .txt a{
    display: block;
    border: 1px solid #ccc;
    margin: 20px 0 0 0;
    padding: 12px 22px;
}
.brand{
    margin: 113px 0 0 0;
    background: url(../images/brand_bg.jpg) no-repeat center center / cover;
    color: #fff;
    text-align: center;
    height: 955px;
    padding: 304px 0 0 0;
}
.brand h2{
    font-weight: 700;
    color: #002365;
}
.brand p{
    font-weight: 700;
    font-size: 40px;
    line-height: 1.3;
    margin: 8px 0 16px 0;
}
.brand a{
    display: inline-block;
    border: 1px solid #fff;
    padding: 12px 38px;
}


.footer{
    color: #666;
    color: rgba(102, 102, 102, 0.4);
    padding: 51px 0;
}
.footer .f_nav ul{
    display: flex;/*li를 좌우로 배치*/
    gap: 0 41px;/*flex일때만 적용*/
    
}
.footer .f_info{
    margin: 19px 0 18px 0;
    display: flex;
    gap:  0 19px;
}